@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;

.tooltip {
  position: absolute;
  visibility: hidden;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 50;
}

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

span,
p,
label,
a,
button,
input,
select,
textarea,
div {
  font-family: 'Lato', sans-serif;
}

/* For titles and headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rokkitt', serif;
  font-optical-sizing: auto;
  text-transform: capitalize;
  /* font-size: 16px; */
}

:root:has(.disable-page-scroll) {
  overflow: hidden;
}

*,
::backdrop {
  box-sizing: border-box;
}
