@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;

.tooltip {
  position: absolute;
  visibility: hidden;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 50;
}

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Andika', sans-serif;
  font-size: 14px;
}

/* For titles and headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Andika', sans-serif;
  text-transform: capitalize;
  font-size: 16px;
}

:root:has(.disable-page-scroll) {
  overflow: hidden;
}
